@model southSoundWebsite.ViewModels.LoginModel
 
<div>
  Это тестовая система логина. 
  Для входа укажите логин: abc@mail.com пароль: 1234
</div>
<form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
  <div class="col-4" >
    <label asp-for="Email">Введите email</label>
    <input type="text" class="form-control" asp-for="Email">
    
  </div>
  <div class="col-4">
    <label asp-for="Password">Введите пароль</label>
    <input type="password" class="form-control" asp-for="Password">
    <span asp-validation-for="Password" />
  </div>
  @* <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> *@
  <br>
  <button type="submit"  class="btn btn-dark">Войти</button>
</form>
