@model List<Example>

@{
    ViewData["Title"] = "Home Page";
}

@* @foreach (var item in Model)
{
   <p>Исполнитель: @item.Исполнитель; </P> 
   <p>Название трека: @item.НазваниеТрека;</P> 
   <p>Получено: @item.ВознаграждениеВРубБезНдс; </P> 

} *@
