
<h1>Укажите имя артиста:</h1>
<div>В качестве тестового запроса можно использовать <strong>Sofya Chekster</strong> или <strong>Босс Терпит Фиаско</strong>
</div>
<br>
<form method="post" asp-controller="Home" asp-action="QueryReport">
<input type="text" name="aartistName"> 
</form>